[core]
	autocrlf = input
    editor=nvim
[user]
	name = Tyler Schwemley
	email = tjschwem@gmail.com
[push]
	default = matching
[alias]
    co = checkout
    s = status
    cm = !git add -A && git commit -m
    b = branch
    bd = !git branch -D
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
